album(ng-if="albumOpen").row.album
  div.row
    div(style="background-image: url({{::album.cover}}), url(/images/placeholder.png)").cover.col-xs-5.col-md-offset-1.col-md-4
    div.col-xs-7.album-info
      h1 {{::album.name}}
      p {{::album.year | date:'yyyy'}}
      p {{::album.genre}}
      p {{album.songs.length + ' tracks'}}
  div.row.songs
    include song.jade
