
<form action="http://localhost:1337/asd" enctype="multipart/form-data" method="post">
    <input type="text" name="title"><br>
    <input type="file" name="song" multiple="multiple"><br>
    <input type="submit" value="Upload">
    </form>
