doctype html
html(lang="en")
  head
    title MusicPlayer
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

  body(ng-app="musicPlayer")

    include includes/main.jade

    // SCRIPTS
    script(src="/dependencies/sails.io.js")
    script(src="/dependencies/jquery/dist/jquery.js")
    script(src="/dependencies/angular/angular.js")
    script(src="/dependencies/angular-resource/angular-resource.js")
    script(src="/dependencies/bootstrap/dist/js/bootstrap.min.js")
    script(src="/dependencies/howler/howler.min.js")
    script(src="/dependencies/jquery/src/sizzle/dist/sizzle.min.js")
    script(src="/dependencies/lodash/lodash.min.js")
    script(src="/js/app.js")
    script(src="/js/album.js")
    script(src="/js/albumList.js")
    script(src="/js/container.js")
    script(src="/js/control.js")
    script(src="/js/navigation.js")
    script(src="/js/player.js")
    script(src="/js/remote.js")
    script(src="/js/song.js")
    // SCRIPTS END
