.albums {

  .list-album{
    $album-gutter: 0.2rem;

    transition: width ease-in 0.5s;

    &[class*="-6"] {
      margin: 0 $album-gutter;
      width: calc(50% - 2 * #{$album-gutter});
      padding: 0;
    }

    h1 {
      font-size: 1rem;
      color: $color-dark;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h2 {
      font-size: 0.9rem;
      color: $color-darkest;
    }
  }

  .album {

    .cover {
      padding: 0;
      margin: 0 ($grid-gutter-width / 2);
      max-width: 10rem;

      &[class*="-4"] {
        width: calc((100%/3) - #{$grid-gutter-width});
      }
      &[class*="-5"] {
        width: calc((100% * (5/12)) - #{$grid-gutter-width});
      }
    }

    .album-info {

      p, h1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      h1 {
        color: $color-light;
        font-size: 1.5rem;
      }
      p {
        color: $color-dark;
        font-size: 1rem;
        margin: 0;
      }
      @include media-breakpoint-up(sm) {
        padding: $grid-gutter-width / 2 0;
      }
    }

    .songs {
      margin-top: $grid-gutter-width / 2;
      margin-bottom: $grid-gutter-width / 2;
    }
  }

   .cover {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        margin-bottom: 0.3rem;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
    }
}
