body {
  @include media-breakpoint-up(md) {
    background-color: darken($color-black, 2);
  }
  background-color: $color-black;
}

.container {
  background-color: $color-black;
  padding-bottom: 6rem;
  @include media-breakpoint-up(md) {
    margin-top: 1rem;
    box-shadow: 0px 0px 8px 0px lighten($color-black, 3);
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
