.nav {
  padding: $grid-gutter-width / 2 0;
  color: $color-dark;
  display: block;

  & > div > span {
    display: block;
    cursor: pointer;
    width: calc(100% + #{$grid-gutter-width} / 4);
    margin-bottom: 0.3rem;
  }

  .active {
    color: $color-light;
    border-bottom: thin solid $color-light;
  }
}
